:root{
    
    --light-color:#f9f9f9;
    --dark-color:#0000;
}

body,
html{
    height: 100%;
    width: 100%;
 
    
   
}

h1{
    font-family:sans-serif;
}
h3{
    font-family:sans-serif;
}
.text-center{
    text-align: center;
    
   
}
html{
    overflow: hidden;
}
body{
    background-color: #20262E;
    
    overflow:auto;
    margin: 0;
    padding: 0;
}
img{
    width: 600px;
   
}
/*
* Styles
*/


/* banerrrrrrrrrrr */

.site-title {
	height: 80vh;
	background-color: #000;
	opacity: 0.7;

}



.site-title .site-background{
    padding-top: 15rem;
    text-align: center;
    color: var(--white);
}

 .site-title h1, h3{
    margin: .3rem;
    color: #fff;
    font-size: 5rem;
}
.site-title h3{
    color: #fff;
    font-size: 3rem;
}

.downloads {
    color: rgb(165, 164, 164);
    font-size: 2rem;
  }
  .download-count {
    color: #c1c0c0;
    
  }

  .download-button:active {
    transform: scale(0.6);
  }
  #incrementButton{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    font-family: var(--Livvic);
    cursor: pointer;
    background-color: orange;
    width: 30rem;
}  
#incrementButton a{
    color: #fff;
    text-decoration: none;
}

#incrementButton a:hover{
    
    text-decoration: none;
}

.site-title .btn{
	background: transparent;
    margin: 1.8rem;
    background: var(--sky);
}

.site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}
.banner{
    background-image: url('theo\ \(7\).JPG');
    height: 80vh;
   background-size: cover;
   background-position: center;
  
   
 }
 .logo{
    margin-bottom: 0px;
 }
/* end of banneerrr */
.expanding-flex-cards{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content:center;
    margin-top: 2vh;
    /* background-color:  rgb(12, 11, 11); */
   background-position: center;
    background-size: cover;
}

.expanding-flex-cards>.expanding-flex-cards-item{
    height: 50vh;
    width: 23px;
    position: relative;
    background: transparent;
    border-radius:20px;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px 10px;
    box-shadow: 0px 2px 11px #ffffff52;
    transition: all .3s ease;
}
.expanding-flex-cards>.expanding-flex-cards-item.active {
    width: 500px;
}
.expanding-flex-cards>.expanding-flex-cards-item:not(.active) {
    cursor: pointer;
}
.expanding-flex-cards>.expanding-flex-cards-item:hover:not(.active){
    transform: scale(1.05);
}
.expanding-flex-cards>.expanding-flex-cards-item>img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.expanding-flex-cards>.expanding-flex-cards-item>.expanding-flex-cards-item-footer {
    bottom: 20px;
    z-index: 1;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all .3s ease;
}
.expanding-flex-cards>.expanding-flex-cards-item:not(.active)>.expanding-flex-cards-item-footer {
    bottom: 12px;
    left: calc(50% - 15px);
    max-height: calc(25%);
    overflow: hidden;
}
.expanding-flex-cards>.expanding-flex-cards-item>.expanding-flex-cards-item-footer>.expanding-flex-cards-icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #464444;
    border-radius: 50% 50%;
    font-size: 16px;
    font-weight: bolder;
    box-shadow: 0px 1px 5px #00000021;
    transition: all .3s ease;
}
.expanding-flex-cards>.expanding-flex-cards-item>.expanding-flex-cards-item-footer>.expanding-flex-cards-title {
    padding: 0px 10px;
    text-shadow: 0px 1px 3px #1616168f;
    display: none;
    transition: all .3s ease;
    color: gold;
}
.expanding-flex-cards>.expanding-flex-cards-item.active>.expanding-flex-cards-item-footer>.expanding-flex-cards-title {
    display: block;
    padding: 0px 10px;
    text-shadow: 0px 1px 3px #1616168f;
}

.expanding-flex-cards>.expanding-flex-cards-item>.expanding-flex-cards-item-body {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 34px);
    height: calc(75% - 20px);
    padding: 20px 17px;
    overflow: auto;
    align-items: center;
    justify-content: center;
}
.expanding-flex-cards>.expanding-flex-cards-item>.expanding-flex-cards-item-body p {
    text-align: center;
    font-size: 24px;
    width: 100%;
    font-weight: 500;
    font-family: 'Mynerve';
    font-style: italic;
    text-shadow: 0.5px 0.5px 3px #000;
    color: gold;
}
.expanding-flex-cards>.expanding-flex-cards-item.active>.expanding-flex-cards-item-body{
    display: flex;
    transform: scale(0);
    animation:expanding-flex-cards-item-body-reveal .8s ease forwards ;
}
@keyframes expanding-flex-cards-item-body-reveal{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}


/* see more btn */
.seemore-btn{
    
    display: flex;
	flex-direction: column;
 	align-content: center;
  	min-height: 9vh;
  	text-decoration: none;
	align-items: center;
 }

 
 
 .seemore-btn button{
	margin-top: 1%;
    height: 50px;
    width: 130px;
    background: #20262E;
    color: rgb(236, 223, 223);
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0,0,.3);
  

}

.seemore-btn button:hover{
    opacity: .8;
    background-color: #fff;
    color: #000;
}



/* blog */
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    flex-direction: column;
    padding: 40px;
    background-color: rgb(223, 220, 220);
 box-sizing: border-box
  }
  
  .blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  
  }
  .blog-heading span{
    color: orange;
  
  }
  
  .blog-heading h3{
    font-size: 2.8rem;
    color: #2b2b2b;
    font-weight: 600;
  }
  
  .blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
  }
  .blog-box{
    width: 350px;
    background-color: aliceblue;
    border: 1px solid #fff;
    margin: 20px;
  
  }
  .blog-img{
    width: 100%;
    height: auto;
  }
  
  .blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  
  }
  .blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  .blog-text span{
    color: rgb(201, 173, 15);
    font-size: 0.9rem;
  
  }
  .blog-text .blog-title{
    font-size: 1.9rem;
    font-weight: 500;
    color: #2b2b2b;
    text-transform: lowercase;
    text-decoration: none;
  }
  .blog-text .blog-title:hover{
    color: orange;
    transition: all ease 0.3s;
  }
  
  .blog-text p{
    columns: #9b9b9b;
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
  
  }
  .blog-text a{
    color: #000;
  
  }
  
  .blog-text a:hover{
    color: orange;
    transition: all ease 0.3s;
  }

.footer{
    margin-top: 5vh;
    width: 100%;
    /* background-image: url('p\ \(16\).jpg'); */
    height: 20vh;
    display: block;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.footer p{
    font-family: sans-serif;
    color: #20262E;
    text-align: center;
    line-height: 5vh;

}

.footer h3{
    font-family: sans-serif;
    color: #20262E;
    text-align: center;
    line-height: 10vh;
    
}

/******** Contact Section ********/





#contact {
	padding-top: 40px;
	padding-bottom: 40px;
    width: 100%;
    
}

#contact h2 {
	font-size: 28px;
	text-transform: uppercase;
	font-family: 'Noto Sans', sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	color: #20262E;
	border-bottom: 8px solid #20262E;
    display: inline-block;
    margin-bottom: 30px;
    padding-bottom: 15px;
    padding-right: 75px;
    line-height: 40px;
}

#contact p {
	font-family: 'PT Sans', sans-serif;
	font-size: 17px;
	color: #20262E;
}

#contact .contact-form input {
	width: 100%;
	height: 40px;
	margin-top: 25px;
	outline: none;
	padding: 20px;
	font-size: 14px;
	border: 1px solid #000;
}

::-webkit-input-placeholder {
   color: #000;
}


#contact .contact-form textarea {
	width: 100%;
	height: 150px;
	margin-top: 25px;
	outline: none;
	resize: none;
	padding: 20px;
	font-size: 14px;
	border: 1px solid #000;
}

#contact .contact-form button {
	margin-top: 20px;
	padding: 10px 20px;
	background: #20262E;
	border: none;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	outline: none;
	transition: background-color 0.5s ease;
    width: 200px;
}

#contact .contact-form button:hover {
	background: #55687C;
}

#contact .image {
	margin-top: 25px;
}
/* #contact .image img {
	width: 100%;
	height: 20%;
} */



.hire__left select {
  
    padding: 1rem 1.5rem;
    width: 100%;
	height: 40px;
	margin-top: 25px;
	outline: none;
	
	font-size: 14px;
	border: 1px solid #000;
    cursor: pointer;
	color: #000;
}
.hire__left select > option {
    padding: 30px !important;    
    cursor: pointer;
}





